.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
  border: 2px solid blue;
  margin: 10px;
}

.navbar ul li a {
  text-decoration: none;
}
